# Virtual environment
env/
venv/
.venv/
.env
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# FastAPI / Python cache
.cache/

# Alembic
alembic/__pycache__/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/
